<div *ngIf="!editando">
  <button 
  class="btn btn-outline-primary"
  (click)="editar()">
  Editar
</button>
</div>

<div *ngIf="editando" class="mx-5">
  <input [(ngModel)]="nombreEditado" class="form-control w-75 my-2" placeholder="Nombre" />
  <input [(ngModel)]="apellidoEditado" class="form-control w-75 my-2" placeholder="Apellido" />
  <input [(ngModel)]="puestoEditado" class="form-control w-75 my-2"  placeholder="Puesto" />
  <button class="btn btn-outline-success w-75" (click)="guardar()">Guardar</button>
</div>

